body{
    background-color: rgba(184, 140, 115, 0.685);
    box-sizing: border-box;
}

.caixaMenor{
    background-color: white;
    width: 80%;
    max-width: 600px;
    height: 1200px;
    border-radius: 5%;
    text-align: center;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    place-items: center;
    height: 100vh;
}

p{
    text-align:center;
    text-decoration:underline;
    
}

h1{
    text-align: center;
}